/* ========= GERAL ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-white: hsl(0, 0%, 100%);
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);
  --color-white: hsl(0, 0%, 100%);

  --bg-light: hsl(180, 14%, 97%);

  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem -> 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM sans';
  font-size: 1.6rem;
  text-align: center;

  background: var(--bg-light);
  overflow: overlay;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary-color);
  letter-spacing: 0.08rem;

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;

  color: var(--headline);
}

section header h1 {
  color: var(--headline);
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}
/* ========= NAVIGATION =========== */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav.scroll .logo path {
  fill: var(--color-white);
}

nav.scroll button path {
  stroke: var(--color-white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* MENU-EXPANDED */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body .menu,
body .close-menu {
  opacity: 0;
  visibility: hidden;
}

body .menu {
  transform: translateY(100%);
}

body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

body .menu .button {
  background: var(--color-white);
  color: var(--primary-color);

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;

  border-radius: 4rem;
  padding: 1.6rem 3.2rem;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

body .menu ul {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  gap: 4.8rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
}

body .menu ul a {
  color: var(--secondary-white);
  text-decoration: none;
}

body .menu .social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--secondary-white);
}

body.menu-expanded button.close-menu {
  stroke: var(--secondary-white);
}

/* ======== HOME ========== */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

#home p {
  color: var(--paragraph);
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;

  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);

  border-radius: 4rem;
  border: none;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  color: var(--secondary-white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-left: auto;
  margin-right: auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 1rem;
}

#home .stats {
  width: 32.7rem;

  padding-block: 4rem;

  margin-inline: auto;

  background-color: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border-radius: 0.6rem;
  border: 0.1rem solid var(--brand-light);
}

#home .stats .stat h3 {
  color: var(--headline);
  font-size: 4.8rem;
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stats .stat p {
  margin: 0;

  color: var(--primary-color);
}

/* *********** Services ************** */

#services .wrapper h2 {
  margin-bottom: 6rem;
}

#services .wrapper div.cards {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
}

#services .wrapper div.cards .card {
  background: var(--color-white);
  border: 0.1rem solid #dce9e2;
  border-radius: 0.6rem;
  padding: 2.4rem;
  text-align: left;
}

#services .wrapper .cards .card svg {
  margin-bottom: 1.6rem;
}

#services .wrapper .cards .card h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  color: var(--headline);
  margin-bottom: 1.6rem;
}

#services .wrapper .cards .card p {
  font-weight: 700;
  line-height: 150%;

  color: var(--paragraph);
}

/* *********** ABOUT ************ */
#about {
  background: var(--brand-beige);
}

section#about div.wrapper header h4 {
  text-align: left;
}

section#about header h2 {
  text-align: left;
  line-height: 150%;
  margin-bottom: 2.4rem;
}

section#about .content p {
  text-align: left;

  margin-bottom: 6rem;
}
